h3, h4 {
  font-weight: normal;
}

.icons-div {
  display: flex;
  align-items: center;
}

mat-icon {
  cursor: default;
}

.icons-div mat-icon {
  margin-left: 1em;
}

.no-assignments-message-container {
  margin: 1.5em 0;
}

mat-panel-title {
  font-size: large;
}

.panels-description {
  flex: none;
}

mat-card {
  margin-bottom: .5em;
}

.mat-card-subtitle {
  margin-bottom: 0;
}

.vm-model-editor-description {
  margin: auto 2em !important;
}

.assignment-content {
  font-size: 15px;
  text-align: justify;
  color: rgba(0, 0, 0, 0.68);
  margin-bottom: 14px;
  padding: 0 40px;
}

.assignment-header {
  padding: .5em 1.2em;
}

.assignment-desc {
  text-align: center;
  margin-top: 10px !important;
  margin-bottom: 15px !important;
  font-size: 20px;
}

.assignment-bottom {
  justify-content: space-between;
  color: rgba(0,0,0,.54);
}

.report-header {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.report-header-text {
  margin: 0 16px;
}

.report-panel-header {
  padding: 10px 16px;
}

.report-desc {
  text-align: center;
  margin-bottom: 32px !important;
  font-size: 20px;
  color: wheat;
}

.report-panel-desc {
  justify-content: space-between;
}

.report-owner-name {
  font-size: 20px;
  color: rgba(0,0,0,.87);
}

.report-status-text {
  margin-right: 12px;
  font-weight: 500;
}

.report-status-container {
  margin-right: 10px;
}

.report-status-circle {
  border:0 solid;
  height:18px;
  width:18px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.info-divider {
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0,0,0,.12);
}

.report-card-container {
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
  box-shadow: none;
  padding: 12px;
}

.report-accordion {
  margin: 8px !important;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, .2), 0 0 0 0 rgba(255, 255, 255, .14), 0 0 3px 0 rgba(255, 255, 255, .8)
}

.versions-grid {
  padding: 16px;
  flex-direction: row-reverse!important;
  place-content: flex-end!important;
}

.versions-grid > mat-card {
  width: 200px;
}

.versions-header {
  display: flex;
  justify-content: space-between;
}

.versions-header button {
  margin: 0 16px;
  border: 1.1px solid rgba(71, 71, 71, 0.68);
  cursor: pointer;
}

.z-depth:hover {
  box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  cursor: pointer;
}

.toggleGridBtn {
  padding-right: 0;
  cursor: pointer;
}

::ng-deep .mat-checkbox-checked.mat-warn .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #02b2ff!important;
}

::ng-deep .mat-checkbox-checked.mat-warn .mat-checkbox-background,.mat-checkbox-indeterminate.mat-warn .mat-checkbox-background {
  background-color: #02b2ff;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #818181!important;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #818181;
}

::ng-deep .filter-checkbox-submitted.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #ffe602!important;
}

::ng-deep .filter-checkbox-submitted.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #ffe602;
}

::ng-deep .mat-checkbox-checked.mat-primary .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #ff8400!important;
}

::ng-deep .mat-checkbox-checked.mat-primary .mat-checkbox-background,.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
  background-color: #ff8400;
}

::ng-deep .filter-checkbox-graded.mat-checkbox-checked mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #07ff15!important;
}

::ng-deep .filter-checkbox-graded.mat-checkbox-checked .mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background {
  background-color: #07ff15!important;
}

.report-status-filter section {
  color: white;
  margin-right: 25px;
}

.report-status-filter {
  display: flex;
  flex-direction: row-reverse;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 47px 47px 0;
  border-color: transparent #FFC107 transparent transparent;
  right: 0;
  top: 0;
  position: absolute;
}

.triangle .triangle-span-1 {
  white-space: nowrap;
  display: inline-block;
  font-size: 8px;
  font-weight: 500;
  color: white;
  letter-spacing: .8px;
  transform: translate(102%, 2%) rotate(45deg)!important;
  -webkit-transform: translate(102%, 2%) rotate(45deg)!important;
  -moz-transform: translate(102%, 2%) rotate(45deg)!important;
  -ms-transform: translate(102%, 2%) rotate(45deg)!important;
  -o-transform: translate(102%, 2%) rotate(45deg)!important;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.triangle .triangle-span-2 {
  white-space: nowrap;
  display: inline-block;
  font-size: 8px;
  font-weight: 500;
  color: white;
  letter-spacing: .8px;
  transform: translate(24%, -73%) rotate(45deg)!important;
  -webkit-transform: translate(24%, -73%) rotate(45deg)!important;
  -moz-transform: translate(24%, -73%) rotate(45deg)!important;
  -ms-transform: translate(24%, -73%) rotate(45deg)!important;
  -o-transform: translate(24%, -73%) rotate(45deg)!important;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.add-btn-container {
  text-align: center;
  margin-top: -10px;
}

.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #ff4081;
  background: #ff4081;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}

.add-btn:hover {
  width: 120px;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: white;
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

button.icon-btn.add-btn {
  cursor: pointer;
  box-shadow: 0 4px 19px 5px rgba(0, 0, 0, 0.2), 0 3px 2px 0 rgba(0, 0, 0, 0.14), 0 4px 7px 0 rgba(0, 0, 0, 0.12);
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: white;
  overflow: hidden;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

