#title {
  text-decoration: none;
  color: white;
}

.logo {
  height: 60px;
  margin-top: .5em;
  padding: 5px 0;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.log-button-div button {
  font-size: large;
}

.home-page-div {
  text-align: center;
  font-size: x-large;
  margin-top: 60px;
}
