<mat-toolbar color="primary">
  <mat-icon (click)="toggleForMenuClick()" aria-hidden="false" aria-label="Menu">menu</mat-icon>
  <a id="title" routerLink="/home" routerLinkActive="active"><span>VirtualLabs</span></a>
  <span class="fill-remaining-space"></span>
  <div class="log-button-div">
    <button *ngIf="!userLoggedIn" mat-flat-button color="primary" (click)="redirectToLogin()">
      Login
      <mat-icon>login</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-toolbar>
  <span>{{selectedCourseName}}</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened position="start">
    <div>
      <mat-nav-list>
        <mat-list-item *ngFor="let course of allCourses"
                       (click)="setCurrentCourse(course)"
                       routerLink="/courses/{{course.name}}/students">
          {{course.name}}
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <app-course-cont></app-course-cont>
</mat-sidenav-container>

