<mat-toolbar color="primary">
  <mat-icon (click)="toggleForMenuClick()" aria-hidden="false" aria-label="Menu">menu</mat-icon>
  <a id="title" routerLink="/home" routerLinkActive="active"><span>VirtualLabs</span></a>
  <span class="fill-remaining-space"></span>
  <div class="log-button-div">
    <button *ngIf="!userLoggedIn" mat-flat-button color="primary" (click)="redirectToLogin()">
      Login
      <mat-icon>login</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-toolbar>
  <span>Applicazioni Internet</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened position="start">
    <div class="container">
      <mat-nav-list>
        <mat-list-item routerLink="/teacher/course/applicazioni-internet/students" routerLinkActive="active">
          Applicazioni Internet
        </mat-list-item>
      </mat-nav-list>
      <mat-nav-list>
        <mat-list-item>
          Programmazione di Sistema
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
  <router-outlet></router-outlet>
</mat-sidenav-container>

