<div class="desktop-container">
  <div class="dynamic-menu">
    <div class="vm-stats">
      <mat-card-subtitle>Usages: </mat-card-subtitle>
      <div class="stat-element">
        <img mat-card-image src="assets/cpu.png">
        <mat-card-subtitle>80%</mat-card-subtitle>
      </div>
      <div class="stat-element">
        <img mat-card-image src="assets/ram.png">
        <mat-card-subtitle>30%</mat-card-subtitle>
      </div>
      <div class="stat-element">
        <img mat-card-image src="assets/disk.png">
        <mat-card-subtitle>15%</mat-card-subtitle>
      </div>
    </div>
    <div class="action-buttons">
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <img class="fake-desktop-image" src="assets/menu-start-windows-10-2020.png">
</div>
