.loader-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: mintcream;
  z-index: 10;
  transition: .5s;
}

.loader-overlay-hidden {
  transform: scale(0);
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  max-width: 50%;
}

.loader-images-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.loader-images-container img {
  max-width: 50%;
  margin-bottom: 1em;
  position: absolute;
}

.tips-container {
  display: flex;
  margin-top: 1em;
}

.tips-container h4 {
  margin: 0 .6em;
  font-weight: lighter;
}

.dynamic-menu {
  display: flex;
  justify-content: space-between;
  padding: .2em 1.5em .6em;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(ghostwhite 89%, #33296c);
  width: 50%;
  text-align: center;
  font-family: monospace;
  margin: -2.4em auto 0;
  transition: .5s;
  transition-delay: 1s;
}

.dynamic-menu:hover {
  margin-top: 0;
  transition-delay: 0s;
}

.dynamic-menu:focus {
  margin-top: 0;
  transition-delay: 0s;
  outline: unset;
}

.vm-stats, .stat-element {
  display: flex;
  align-items: center;
}

.stat-element img {
  margin-left: 1.4em;
  margin-right: .4em;
  height: 1.7em;
  width: 1.7em;
  opacity: .7;
}

.vm-stats * {
  margin: 0;
}

.action-buttons button mat-icon {
  padding: 0;
}

.fake-desktop-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.action-buttons button {
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin-left: .5em;
}
