<div class="form-container">
  <ng-template [ngIf]="!loading" [ngIfElse]="loadingBlock">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (keydown.enter)="onSubmit()">
      <mat-form-field appearance="legacy">
        <mat-label>Email</mat-label>
        <input matInput [type]="'email'" formControlName="email">
        <mat-error *ngIf="loginForm.controls.email.hasError('email')">
          Please insert a valid email
        </mat-error>
        <mat-error *ngIf="loginForm.controls.email.hasError('required')">
          The field email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix type="button" [tabIndex]="-1" (click)="hidePass = !hidePass">
          <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.controls.password.invalid">
          Password <strong>non valida</strong>
        </mat-error>
      </mat-form-field>
      <div *ngIf="loginError" class="error-advice">{{errorMessage}}</div>
      <div class="buttons-div">
        <button mat-raised-button (click)="dialogRef.close()">
          CANCEL
        </button>
        <button mat-raised-button type="submit" color="primary" (click)="onSubmit()">
          LOGIN
        </button>
      </div>
    </form>
  </ng-template>
</div>

<ng-template #loadingBlock>
  <div class="loader-image-container">
    <ng-container>
      <img src="/assets/icons/vm_loader.gif">
    </ng-container>
  </div>
</ng-template>
