<div class="main-container">
  <div class="text-container">
    <h1>Oops!</h1>
    <h2>We can't seem to find the page you're looking for.</h2>
    <p>We're sorry, the page you requested could not be found.
      <br>Please go back to the homepage or contact us at
      <a href="mailto:virtuallabsapp@gmail.com">virtuallabsapp@gmail.com</a>
    </p>
    <div class="action-container">
      <button mat-raised-button color="primary" (click)="redirectToHome()">GO TO HOMEPAGE</button>
    </div>
  </div>
  <div class="image-container">
    <img src="assets/other/404_bender.jpg">
  </div>
</div>
