<div class="tab-section students-section">
  <div class="tab-subtitle">
    <mat-icon>school</mat-icon>
    <h2>List of enrolled students</h2>
  </div>
  <div class="input-student-div">
    <mat-form-field>
      <mat-label>Add student</mat-label>
      <input matInput type="text" placeholder="Name of the student"
             #addStudentInput [matAutocomplete]="ids"
             (keyup)="filterData()"
             [disabled]="!notEnrolledStudents">
    </mat-form-field>
    <mat-autocomplete #ids="matAutocomplete"
                      [displayWith]="displayStudent"
                      (optionSelected)="setCurrentSelectedOption($event)">
      <mat-option *ngFor="let student of filteredStudents"
                  [value]="student">{{student.surname}} {{student.name}} ({{student.id}})</mat-option>
    </mat-autocomplete>
    <button mat-raised-button color="accent" #addButton
            [disabled]="!currentSelectedOption || tableStudents.data.includes(currentSelectedOption)"
            (click)="enrollStudent(currentSelectedOption)">ADD
    </button>
    <button mat-stroked-button color="primary"
            (click)="fileUpload.click()">
      <mat-icon>vertical_align_bottom</mat-icon>
      IMPORT STUDENTS VIA CSV
    </button>
    <input hidden type="file" accept=".csv" #fileUpload (change)="enrollStudents($event)">
  </div>
  <button class="delete-btn" mat-raised-button color="warn"
          [disabled]="!getCurrentPageSelected().length"
          (click)="openDialog()">DELETE SELECTED STUDENTS
  </button>
  <div class="selection-message-popup" *ngIf="isSelectionPopupToShow && isCurrentPageAllSelected()">
    <ng-container *ngIf="!isAllSelected && paginator.pageSize < tableStudents.data.length; else extendedSelection">
      <mat-card-subtitle>All {{getCurrentPageSelected().length}} students on this page have been selected.</mat-card-subtitle>
      <button mat-button (click)="selectAllStudents()">
        <mat-card-subtitle>Select all {{tableStudents.data.length}} students</mat-card-subtitle>
      </button>
    </ng-container>
    <ng-template #extendedSelection>
      <mat-card-subtitle>All students of this course have been selected.</mat-card-subtitle>
      <button mat-button (click)="selectedStudents.clear()">
        <mat-card-subtitle>Cancel selection</mat-card-subtitle>
      </button>
    </ng-template>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="tableStudents" matSort>
      <!-- checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox [disabled]="!tableStudents.data.length"
                        [checked]="!!getCurrentPageSelected().length && isCurrentPageAllSelected()"
                        [indeterminate]="!!getCurrentPageSelected().length && !isCurrentPageAllSelected()"
                        (change)="toggleMasterCheckbox()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let student">
          <mat-checkbox [checked]="selectedStudents.isSelected(student)"
                        (change)="toggleStudentCheckBox(student)">
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let student"> {{student.id}} </td>
      </ng-container>
      <!-- surname Column -->
      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Surname </th>
        <td mat-cell *matCellDef="let student"> {{student.surname}} </td>
      </ng-container>
      <!-- name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let student"> {{student.name}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
