.sidenav-list-item {
  padding: 6px 0 !important;
}

.sidenav-list-item:hover {
  background: #a1ace5 !important;
}

.sidenav-course-active {
  background: #c5cae9 !important;
}

.sidenav-course-active .course-acronym-div{
  color: ghostwhite;
  background: #4e54c8;
  background: -webkit-linear-gradient(to bottom, #4e54c8, #8f94fb);
  background: linear-gradient(to bottom, #4e54c8, #8f94fb);
}

mat-sidenav {
  margin-top: 48px;
}

.course-acronym-div {
  color: #8f94fb;
  border: 3px solid #8f94fb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .7em;
  font-weight: 500;
}

.sidenav-list-item:hover .course-acronym-div{
  color: ghostwhite;
  background: #4e54c8;
  background: -webkit-linear-gradient(to bottom, #4e54c8, #8f94fb);
  background: linear-gradient(to bottom, #4e54c8, #8f94fb);
}

::ng-deep mat-sidenav-content {
  overflow: hidden !important;
}

.tab-container {
  padding: 0 2em;
}

.add-course-container {
  position: fixed;
  left: 1em;
  bottom: 1.6em;
}

.add-course-btn-inside {
  font-size: 1rem;
  padding: .1em 4.2em;
  color: #8e3333;
  background-color: rgba(255, 94, 9, 0.4);
  width: 100%;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  border: 1px solid rgb(255, 94, 9);
  position: relative;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 1px 1px 10px 5px rgba(255, 94, 9, 0.4);
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 94, 9, 0.8),
    transparent
  );
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}
