<mat-toolbar>
  <span>{{selectedCourseName}}</span>
</mat-toolbar>
<mat-sidenav-container [autosize]="true">
  <mat-sidenav mode="side" opened position="start">
    <div>
      <mat-nav-list>
        <a mat-list-item disableRipple class="sidenav-list-item"
                        *ngFor="let course of allCourses"
                        (click)="setCurrentCourse(course)"
                        routerLink="/courses/{{course.name}}"
                        routerLinkActive="sidenav-course-active">

          <div class="course-acronym-div" mat-card-avatar>
            <span>{{course.acronym}}</span>
          </div>
          {{course.name}}
        </a>
      </mat-nav-list>
      <div class="add-course-container" *ngIf="utility.isProfessor()">
        <button mat-raised-button color="accent" class="add-course-btn-inside btn" (click)="openCreateCourseDialog()">ADD COURSE</button>
      </div>
    </div>
  </mat-sidenav>
  <div>
    <nav mat-tab-nav-bar>
      <a mat-tab-link
         *ngFor="let link of navLinks"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
    <div class="tab-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
