.sidenav-list-item {
  padding: 6px 0 !important;
}

.sidenav-list-item:hover {
  background: #a1ace5 !important;
}

.sidenav-course-active {
  background: #c5cae9 !important;
}

.sidenav-course-active .course-acronym-div{
  color: ghostwhite;
  background: #4e54c8;
  background: -webkit-linear-gradient(to bottom, #4e54c8, #8f94fb);
  background: linear-gradient(to bottom, #4e54c8, #8f94fb);
}

mat-sidenav {
  margin-top: 48px;
  min-width: 325px;
}

.course-acronym-div {
  color: #8f94fb;
  border: 3px solid #8f94fb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .7em;
  font-weight: 500;
}

.sidenav-list-item:hover .course-acronym-div{
  color: ghostwhite;
  background: #4e54c8;
  background: -webkit-linear-gradient(to bottom, #4e54c8, #8f94fb);
  background: linear-gradient(to bottom, #4e54c8, #8f94fb);
}

::ng-deep mat-sidenav-content {
  overflow: hidden !important;
}

.tab-container {
  padding: 0 2em;
}

.add-course-container {
  position: fixed;
  left: 1em;
  bottom: 1.6em;
  min-width: 289px;
}

.add-course-btn-inside {
  font-size: 1rem;
  padding: .1em 5em;
  color: #598e33;
  background-color: rgba(9, 255, 71, 0.4);
  width: 100%;
  text-transform: uppercase;
}

.add-btn {
  text-decoration: none;
  border: 1px solid rgb(34, 210, 6);
  position: relative;
  overflow: hidden;
}

.add-btn:hover {
  box-shadow: 1px 1px 10px 5px rgba(9, 255, 71, 0.4);
}

.add-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(9, 255, 71, 0.8),
    transparent
  );
  transition: all 650ms;
}

.add-btn:hover:before {
  left: 100%;
}

.remove-course-container {
  position: fixed;
  left: 1em;
  bottom: 4.6em;
  min-width: 289px;
}

.remove-course-btn-inside {
  font-size: 1rem;
  padding: .1em 5em;
  color: #8e3333;
  background-color: rgba(255, 94, 9, 0.4);
  width: 100%;
  text-transform: uppercase;
}

.remove-btn {
  text-decoration: none;
  border: 1px solid rgb(255, 94, 9);
  position: relative;
  overflow: hidden;
}

.remove-btn:hover {
  box-shadow: 1px 1px 10px 5px rgba(255, 94, 9, 0.4);
}

.remove-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 94, 9, 0.8),
    transparent
  );
  transition: all 650ms;
}

.remove-btn:hover:before {
  left: 100%;
}

.edit-course-container {
  position: fixed;
  left: 1em;
  bottom: 7.6em;
  min-width: 289px;
}

.edit-course-btn-inside {
  font-size: 1rem;
  padding: .1em 5em;
  color: #8e7f33;
  background-color: rgba(255, 202, 9, 0.4);
  width: 100%;
  text-transform: uppercase;
}

.edit-btn {
  text-decoration: none;
  border: 1px solid rgb(255, 202, 9);
  position: relative;
  overflow: hidden;
}

.edit-btn:hover {
  box-shadow: 1px 1px 10px 5px rgba(255, 202, 9, 0.4);
}

.edit-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 202, 9, 0.8),
    transparent
  );
  transition: all 650ms;
}

.edit-btn:hover:before {
  left: 100%;
}

.no-courses-desc-container {
  padding: .6em;
  width: 303px;
}

.no-courses-desc-container span {
  text-transform: uppercase;
}

.text-container {
  font-weight: normal;
  padding: 3em 1em;
  text-align: center;
}

.no-courses-desc-text {
  width: 600px;
  margin: auto;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20vh auto;
  font-family: "Courier New", Courier, monospace;
  max-width: 50%;
}

.loader-images-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.loader-images-container img {
  max-width: 50%;
  margin-bottom: 1em;
  position: absolute;
}
