.sidenav-list-item:hover {
  background: #a1ace5 !important;
}

.sidenav-course-active {
  background: #c5cae9 !important;
}

mat-sidenav {
  margin-top: 48px;
}

.tab-container {
  padding: 0 2em;
}

