<ng-container *ngIf="!hasAcceptedAProposal && myPendingProposals?.length">
  <div *ngFor="let proposal of myPendingProposals" class="proposal-message-container">
    <mat-card class="proposal-message-card">
      <mat-card-header>
        <mat-card-title class="proposal-message-title">
          You have received a team proposal from <em>{{proposal.teamName}}</em> !
        </mat-card-title>
      </mat-card-header>
      <div class="proposal-message-actions-container">
        <div>
          <button mat-stroked-button (click)="openViewTeamProposalDialog(proposal)">VIEW PROPOSAL</button>
        </div>
      </div>
    </mat-card>
  </div>
</ng-container>

<div class="tab-section formed-teams-section">
  <div class="tab-subtitle">
    <mat-icon>groups</mat-icon>
    <h2>{{utility.isProfessor() ? 'Teams' : 'My Team'}}</h2>
  </div>
  <ng-container *ngIf="teamList?.length; else noTeams">
    <ng-container *ngIf="utility.isProfessor(); else myTeamSection">
      <mat-accordion multi="false">
        <mat-expansion-panel *ngFor="let team of this.teamList">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{team.name}}
            </mat-panel-title>
            <mat-panel-description class="team-panels-description">
              <div class="icons-div">
                <mat-icon>person</mat-icon><span>{{team.members ? team.members.length : 0}}</span>
                <mat-icon>desktop_windows</mat-icon><span>{{team.vms? team.vms.length : 0}}</span>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <h4>Composed by:</h4>
          <mat-card *ngFor="let member of team.members">
            <mat-card-header>
              <img [src]="member.photo" mat-card-avatar>
              <mat-card-title>{{member.name}} {{member.surname}}</mat-card-title>
              <mat-card-subtitle>Matricola: {{member.id}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
          <ng-container *ngIf="team.vms?.length">
            <h4>VMs:</h4>
            <mat-card *ngFor="let vm of team.vms; let i = index">
              <mat-card-header>
                <img src="/assets/icons/vm_icon.png" mat-card-avatar>
                <mat-card-title>VM#{{i+1}}</mat-card-title>
                <mat-card-subtitle>CPU cores: {{vm.vcpu}} | RAM: {{vm.ram}}GB | Disk: {{vm.disk}}GB</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </ng-container>
          <mat-action-row>
            <button mat-raised-button color="warn" (click)="openDialog(team)">DELETE TEAM</button>
            <button mat-raised-button color="primary" (click)="openEmailDialog(team.members)">SEND MESSAGE</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </ng-container>
</div>
<ng-template #noTeams>
  <div class="no-teams-message-container" *ngIf="teamList">
    <mat-card class="no-teams-card">
      <span>{{isInATeamProposal(utility.getMyId()) ?
        'Waiting for the response, all the students must accept the proposal...' :
        'Still no team has been formed'}}
      </span>
    </mat-card>
    <ng-container *ngIf="!utility.isProfessor()" [ngTemplateOutlet]="fabAddTeamProposal"></ng-container>
  </div>
</ng-template>
<ng-template #myTeamSection>
  <ng-container *ngIf="myTeam && myTeam?.members?.length; else noTeams">
    <mat-card class="my-team-mat-card">
      <div class="team-section-container">
        <h3 class="team-section-title">Members</h3>
        <mat-divider></mat-divider>
        <div class="my-team-section-content">
          <mat-card *ngFor="let member of myTeam?.members">
            <mat-card-header>
              <img [src]="member.photo" mat-card-avatar>
              <mat-card-title>{{member.name}} {{member.surname}} {{member.id === utility.getMyId() ? ' (you)' : ''}}</mat-card-title>
              <mat-card-subtitle>{{member.id}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
      <mat-divider class="team-sections-divider" [vertical]="true"></mat-divider>
      <div class="team-section-container">
        <h3 class="team-section-title">Vms</h3>
        <ng-container *ngIf="myTeam?.vms?.length; else noVms">
          <div class="my-team-section-content">
            <mat-card *ngFor="let vm of myTeam.vms; let i = index">
              <mat-card-header>
                <img src="/assets/icons/vm_icon.png" mat-card-avatar>
                <mat-card-title>VM#{{i+1}}</mat-card-title>
                <mat-card-subtitle>CPU cores: {{vm.vcpu}} | RAM: {{vm.ram}}GB | Disk: {{vm.disk}}GB</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </div>
        </ng-container>
      </div>
    </mat-card>
  </ng-container>
</ng-template>
<ng-template #noVms>
  <div class="my-team-section-content">
    <mat-card class="no-vms-card">
      <mat-card-header class="no-vms-header">
        <mat-card-title><em class="no-vms-text">There are no vms yet</em></mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</ng-template>

<div class="tab-section pending-proposal-section" *ngIf="utility.isProfessor() && pendingProposals">
  <div class="tab-subtitle">
    <mat-icon>pending_actions</mat-icon>
    <h2>Pending team proposals</h2>
  </div>
  <mat-accordion multi="false">
    <mat-card *ngIf="!pendingProposals?.length">
      <mat-card-header>
        <mat-card-subtitle>There are no pending proposals</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-expansion-panel *ngFor="let proposal of pendingProposals">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{proposal.teamName}}
        </mat-panel-title>
        <mat-panel-description>
          {{proposal.statusDesc}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h3>
        <b>{{proposal.creator?.name}} {{proposal.creator?.surname}}</b> proposed this team.
      </h3>
      <h4>It will be composed by:</h4>
      <mat-card *ngFor="let member of proposal.members">
        <mat-card-header>
          <img [src]="member.photo" mat-card-avatar>
          <mat-card-title>{{member.name}} {{member.surname}}</mat-card-title>
          <mat-card-subtitle>Matricola: {{member.id}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <br>
      <mat-action-row class="pending-teams-bottom">
        <div class="icons-div">
          <i>This team proposal will expire on: {{utility.formatDate(proposal.expiryDate) | date:'medium'}}</i>
        </div>
        <button mat-raised-button color="primary" (click)="openEmailDialog(proposal.members)">SEND MESSAGE</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="tab-section student-lists-section" *ngIf="teamedUpStudents && notTeamedUpStudents">
  <div class="tab-subtitle">
    <mat-icon>list</mat-icon>
    <h2>Students in teams</h2>
  </div>
  <div class="student-lists-container">
    <div class="student-list">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="student-list-title">Already teamed up</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item *ngFor="let student of teamedUpStudents">
            <img matListAvatar [src]="student.photo">
            <div class="teamed-up-student-info">
              <h3 matLine class="teamed-up-student-label">{{student.name}} {{student.surname}} - {{student.id}}</h3>
              <mat-card-subtitle><em>{{findTeam(student.id)?.name}}</em></mat-card-subtitle>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
    <div class="student-list">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="student-list-title">Not engaged yet</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item *ngFor="let student of notTeamedUpStudents">
            <img matListAvatar [src]="student.photo">
            <h3 matLine>{{student.name}} {{student.surname}} - {{student.id}}</h3>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>
</div>

<div class="tab-section proposal-history-section" *ngIf="utility.isProfessor() && allProposals && allProposals?.length">
  <div class="tab-subtitle">
    <mat-icon>history</mat-icon>
    <h2>Proposals history</h2>
  </div>
</div>

<ng-template #fabAddTeamProposal>
  <div *ngIf="!isAlreadyTeamedUp() && !isInATeamProposal(utility.getMyId()) && notTeamedUpStudents?.length"
       class="add-btn-container">
    <button class="icon-btn add-btn"
            (click)="openTeamProposalDialog(notTeamedUpStudents, utility.getMyId())">
      <div class="add-icon"></div>
      <div class="btn-txt"><strong>PROPOSE</strong></div>
    </button>
  </div>
</ng-template>
