h3, h4 {
  font-weight: normal;
}

.icons-div {
  display: flex;
  align-items: center;
}

mat-icon {
  cursor: default;
}

.icons-div mat-icon {
  margin-left: 1em;
}

.no-teams-message-container {
  margin: .2em 0;
}

.no-teams-message-container mat-card {
  margin-bottom: 0;
}

mat-panel-title {
  font-size: large;
}

.team-panels-description {
  flex: none;
}

mat-card {
  margin-bottom: .5em;
}

.mat-card-subtitle {
  margin-bottom: 0;
}

.student-lists-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 2em
}

.student-list-title {
  font-weight: lighter;
}

.student-list {
  min-width: fit-content;
  flex: 1 1;
}

.teamed-up-student-info {
  margin-left: 1em;
}

.teamed-up-student-label {
  font-size: medium;
  margin: 0 0 5px 0;
}

::ng-deep .not-engaged-student-list .mat-list-text {
  width: unset !important;
}

.not-engaged-student-status {
  margin-left: 2em;
  font-size: unset !important;
}

.pending-teams-bottom {
  justify-content: space-between;
  color: rgba(0,0,0,.54);
}

.team-section-title {
  font-size: 1.2em;
  font-weight: 500;
  margin-left: 2px;
}

.team-section-title > mat-card {
  margin-bottom: 10px;
}

.team-sections-divider {
  display: block;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0,0,0,.12);
}

.team-section-container {
  width: 45%;
}

.team-section-container h3 {
  margin-top: 18px;
  text-align: center;
}

.my-team-mat-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid #e6e6e6;
  box-shadow: none!important;
}

.my-team-section-content {
  margin-top: 38px;
  margin-bottom: 20px;
}

.my-team-section-content mat-card {
  box-shadow: none;
  margin-bottom: 0;
  padding-left: 0;
}

.my-team-section-content mat-card mat-card-header mat-card-title {
  font-size: 18px;
  font-weight: 400;
}

.proposal-message-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  /*background-color: #fee715;*/
  /*color: #101820;*/
  background: linear-gradient(to right, #FF4E50, #F9D423);
  color: white;
  border-radius: unset;
  margin-bottom: 0;
  box-shadow: none;
}

.proposal-message-actions-container {
  display: flex;
  flex-direction: row;
}

.proposal-message-title {
  margin-bottom: 0!important;
}

.proposal-message-action-accept {
  margin-right: 10px;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.proposal-message-container {
  position: relative;
  z-index: 0;
  border-radius: 3px;
  overflow: hidden;
  padding: 2px;
  margin-top: 1em;
}

.proposal-message-container::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -101%;
  top: -50%;
  width: 300%;
  height: 200%;
  background-color: #FFD400;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  /*background-image: linear-gradient(#ffd500, #ffa613), linear-gradient(#ff961a, #fb8200), linear-gradient(#fdd20e, #fdd20e);*/
  background-image: linear-gradient(#FFFFB7, #FFF192, #FFEA61, #FFDD3C, #FFD400);
  -webkit-animation: rotate 4s linear infinite;
  animation: rotate 4s linear infinite;
 }

.proposal-message-container::after {
   content: '';
   position: absolute;
   z-index: -1;
   left: 6px;
   top: 6px;
   width: calc(100% - 12px);
   height: calc(100% - 12px);
   background: white;
   border-radius: 5px;
 }

.individual-proposal-status {
  font-size: larger;
  font-style: italic;
  color: palevioletred;
  font-weight: 400;
}

.no-vms-card {
  padding-left: 16px!important;
}

.no-teams-card {
  max-width: unset;
  text-align: left;
  color: rgba(0, 0, 0, 0.64);
}

.no-vms-header {
  justify-content: center;
}

.no-vms-text {
  color: rgba(0, 0, 0, 0.54);
}

.proposal-history-header {
  padding: .5em 1.2em;
}

.proposal-history-header mat-panel-title {
  flex: unset;
  width: 20em;
}

.proposal-history-header span {
  align-self: center;
}

::ng-deep .proposal-history-header .mat-content {
  justify-content: space-between;
  align-items: center;
}

.proposal-history-status-container {
  width: 10em;
  text-align: center;
  margin-left: -5em;
}

.proposal-history-status-container span {
  font-size: large;
  font-weight: 600;
}

.proposal-history-status-desc-container {
  width: 28em;
}

.proposal-history-status-desc-container span {
  float: right;
  margin-right: 1em;
  color: rgba(0, 0, 0, 0.64);
  font-size: medium;
}

.proposal-history-member-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}
.proposal-history-member-container img {
  height: 50px;
  width: 50px;
}

.proposal-history-members-desc {
  font-weight: 500;
  font-size: large;
  margin-bottom: 1.1em;
}

.proposal-history-members-container {
  margin-top: 1.8em;
  padding-left: 2em;
  display: flex;
  flex-flow: row wrap;
  gap: 2em 7em;
}
