.team-vms-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

mat-icon {
  cursor: default;
}

mat-card {
  margin: 0 .5em;
}

mat-list {
  padding-top: 0;
}

.mat-card-header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: unset;
}

mat-card-footer {
  text-align: center;
  margin: 1em 0;
}

mat-card-footer button {
  margin: 0 .5em;
}

.led-fake-div {
  box-shadow: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.led-powered-on {
  background-color: #249124;
}

.led-powered-off {
  background-color: #fd2626;
}

.vm-model-description {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em 0;
}

.vm-model-panel-header {
  height: auto !important;
  /*pointer-events: none;*/
}

.vm-model-editor-description {
  margin: auto 2em !important;
}

.vm-model-details {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.vm-model-buttons-div {
  text-align: right;
}

.vm-model-buttons-div button {
  margin: 1em 0 0 1em;
}

.no-vm-model-message {
  margin: 1em 0;
}


