<div class="tab-section vm-model-section" *ngIf="teamList">
  <div class="tab-subtitle">
    <mat-icon>tune</mat-icon>
    <h2>Vm model</h2>
  </div>
  <mat-accordion>
    <mat-expansion-panel hideToggle [expanded]="!vmModel">
      <mat-expansion-panel-header class="vm-model-panel-header">
        <mat-panel-description>
          <div class="vm-model-description" *ngIf="vmModel else noVmModel">
            <mat-list>
              <mat-list-item>
                <img matListAvatar [src]="getOsImageLogo(this.vmModel.os)">
                <h4 matLine>{{vmModel.name}}</h4>
              </mat-list-item>
            </mat-list>
            <mat-card-subtitle class="vm-model-editor-description"><i>{{vmModel?.professor ? 'Set by Prof. ' + vmModel.professor.name + ' ' + vmModel.professor.surname : ''}}</i></mat-card-subtitle>
          </div>
          <ng-template #noVmModel>
            <mat-card-subtitle class="no-vm-model-message">There is no vm model for this course yet</mat-card-subtitle>
          </ng-template>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="vm-model-details" *ngIf="vmModel">
        <div *ngIf="osMap">
          <h4 matLine>Operating system:</h4>
          <mat-card-subtitle>{{osMap.get(vmModel.os)}}</mat-card-subtitle>
        </div>
        <div>
          <h4 matLine>Max resources per team:</h4>
          <mat-card-subtitle mat-card-subtitle>CPU cores: {{vmModel.maxVCPU}} <br> RAM: {{vmModel.maxRAM}}GB <br> Disk: {{calcDiskLabel(vmModel.maxDisk)}}</mat-card-subtitle>
        </div>
        <div>
          <h4 matLine>Limits on vms number:</h4>
          <mat-card-subtitle>Max vms per team: {{vmModel.maxTotVm}} <br> Max active vms at the same time: {{vmModel.maxActiveVm}}</mat-card-subtitle>
        </div>
      </div>
      <mat-action-row>
        <button mat-raised-button color="primary" *ngIf="!vmModel else vmModelExists" (click)="openDialog()">CREATE MODEL</button>
        <ng-template #vmModelExists>
          <button mat-raised-button color="warn" (click)="deleteVmModel()">DELETE</button>
          <button mat-raised-button color="primary" (click)="openDialog()">EDIT</button>
        </ng-template>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="tab-section vms-section" *ngIf="teamList">
  <div class="tab-subtitle">
    <mat-icon>desktop_windows</mat-icon>
    <h2>Virtual machines</h2>
  </div>
  <mat-accordion multi="false">
    <mat-expansion-panel *ngFor="let team of teamList" [disabled]="!team.vms?.length">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{team.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="team-vms-container" *ngIf="team.vms?.length">
        <mat-card *ngFor="let vm of team.vms">
          <mat-card-header>
            <mat-card-title>
              Vm#2
            </mat-card-title>
            <div class="led-fake-div" [ngClass]="vm.active ? 'led-powered-on' : 'led-powered-off'"></div>
          </mat-card-header>
          <img mat-card-image [src]="vm.content"> <!--TODO: da sostituire con il reale contenuto della vm -->
          <mat-card-content>
            <mat-card-subtitle>CPU cores: {{vm.vcpu}} | RAM: {{vm.ram}}GB | Disk: {{calcDiskLabel(vm.disk)}}</mat-card-subtitle>
            <mat-card-footer>
              <button mat-flat-button color="accent" (click)="toggleVmPower(vm)">{{vm.active ? 'POWER OFF' : 'POWER ON'}}</button>
              <button mat-flat-button color="primary" [disabled]="!vm.active" (click)="openVm(vm)">ENTER</button>
            </mat-card-footer>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
