<div class="tab-section vm-model-section" *ngIf="vmModel !== undefined">
  <div class="tab-subtitle">
    <mat-icon>tune</mat-icon>
    <h2>Vm model</h2>
  </div>
  <mat-accordion *ngIf="authService.isProfessor() || (!authService.isProfessor() && vmModel != null) else noVmModel">
    <mat-expansion-panel hideToggle [expanded]="!vmModel">
      <mat-expansion-panel-header class="vm-model-panel-header">
        <mat-panel-description>
          <div class="vm-model-description" *ngIf="vmModel else noVmModel">
            <mat-list>
              <mat-list-item>
                <img matListAvatar [src]="getOsImageLogo(this.vmModel.os)">
                <h4 matLine>{{vmModel.name}}</h4>
              </mat-list-item>
            </mat-list>
            <mat-card-subtitle class="vm-model-editor-description"><i>{{vmModel?.professor ? 'Created by Prof. ' + vmModel.professor.name + ' ' + vmModel.professor.surname : ''}}</i></mat-card-subtitle>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="vm-model-details" *ngIf="vmModel">
        <div *ngIf="osMap">
          <h4 matLine>Operating system:</h4>
          <mat-card-subtitle>{{osMap.get(vmModel.os)}}</mat-card-subtitle>
        </div>
        <div>
          <h4 matLine>Max resources per team:</h4>
          <mat-card-subtitle mat-card-subtitle>CPU cores: {{vmModel.maxVCPU}} <br> RAM: {{vmModel.maxRAM}}GB <br> Disk: {{utility.calcDiskLabel(vmModel.maxDisk)}}</mat-card-subtitle>
        </div>
        <div>
          <h4 matLine>Limits on vms number:</h4>
          <mat-card-subtitle>Max vms per team: {{vmModel.maxTotVm}} <br> Max active vms at the same time: {{vmModel.maxActiveVm}}</mat-card-subtitle>
        </div>
      </div>
      <mat-action-row *ngIf="authService.isProfessor()">
        <button mat-raised-button color="primary" *ngIf="!vmModel else vmModelExists" (click)="openDialog()">CREATE MODEL</button>
        <ng-template #vmModelExists>
          <button mat-raised-button color="warn" (click)="deleteVmModel()">DELETE</button>
          <button mat-raised-button color="primary" (click)="openDialog()">EDIT</button>
        </ng-template>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="tab-section vms-section" *ngIf="teamList || !authService.isProfessor()">
  <div class="tab-subtitle">
    <mat-icon>desktop_windows</mat-icon>
    <h2>{{authService.isProfessor() ? 'Virtual machines' : 'My virtual machines'}}</h2>
  </div>
  <ng-container *ngIf="authService.isProfessor(); else myVmsSection">
    <mat-accordion multi="false">
    <mat-card *ngIf="!teamList?.length" class="no-vms-card">
      <span>There are no virtual machines yet</span>
    </mat-card>
    <mat-expansion-panel *ngFor="let team of teamList" [disabled]="!team.vms?.length">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{team.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="team-vms-container" *ngIf="team.vms?.length">
        <mat-card *ngFor="let vm of team.vms; let i = index">
          <mat-card-header>
            <mat-card-title>Vm#{{i+1}}</mat-card-title>
            <div class="led-fake-div" [ngClass]="vm.active ? 'led-powered-on' : 'led-powered-off'"></div>
          </mat-card-header>
          <img mat-card-image [src]="vm.active ? vm.content : 'assets/other/black_screen.jpg'">
          <mat-card-content>
            <mat-card-subtitle>CPU cores: {{vm.vcpu}} | RAM: {{vm.ram}}GB | Disk: {{utility.calcDiskLabel(vm.disk)}}</mat-card-subtitle>
            <mat-card-footer>
              <button mat-flat-button color="accent" (click)="toggleVmPower(vm, team)">{{vm.active ? 'POWER OFF' : 'POWER ON'}}</button>
              <button mat-flat-button color="primary" [disabled]="!vm.active" (click)="openVm(vm)">ENTER</button>
            </mat-card-footer>
          </mat-card-content>
          <div class="vm-creator-container">
            <span>Created by: {{vm.creator?.name}} {{vm.creator?.surname}}</span>
          </div>
        </mat-card>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  </ng-container>
</div>

<ng-template #myVmsSection>
  <ng-container *ngIf="myTeam?.vms?.length; else noVms">
    <mat-card class="card-for-vms">
      <div class="team-vms-container">
        <mat-card *ngFor="let vm of myTeam.vms; let i = index">
          <mat-card-header>
            <mat-card-title>Vm#{{i+1}}</mat-card-title>
            <div class="vm-settings-led-container">
              <div class="vm-settings-container" *ngIf="isOwner(vm.owners)">
                <button class="vm-settings-btn" mat-icon-button [matMenuTriggerFor]="menu" [disabled]="vm.active">
                  <mat-icon class="vm-settings-icon">settings</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openVmSettingsDialog(vm)">
                    <mat-icon class="vm-settings-menu-icon">edit</mat-icon>
                    <span>EDIT</span>
                  </button>
                  <button mat-menu-item (click)="deleteVm(vm.id)">
                    <mat-icon color="warn" class="vm-settings-menu-icon">delete</mat-icon>
                    <span>DELETE</span>
                  </button>
                </mat-menu>
              </div>
              <div class="led-fake-div" [ngClass]="vm.active ? 'led-powered-on' : 'led-powered-off'"></div>
            </div>
          </mat-card-header>
          <img mat-card-image [src]="vm.active ? vm.content : 'assets/other/black_screen.jpg'">
          <mat-card-content>
            <mat-card-subtitle>CPU cores: {{vm.vcpu}} | RAM: {{vm.ram}}GB | Disk: {{utility.calcDiskLabel(vm.disk)}}</mat-card-subtitle>
            <mat-card-footer>
              <button mat-flat-button color="accent" [disabled]="!isOwner(vm.owners)" (click)="toggleVmPower(vm, myTeam)">{{vm.active ? 'POWER OFF' : 'POWER ON'}}</button>
              <button mat-flat-button color="primary" [disabled]="!vm.active" (click)="openVm(vm)">ENTER</button>
            </mat-card-footer>
          </mat-card-content>
          <div class="vm-creator-container">
            <span>Created by: {{vm.creator?.name}} {{vm.creator?.surname}}</span>
          </div>
        </mat-card>
      </div>
    </mat-card>
    <ng-container *ngIf="isVmCreatable" [ngTemplateOutlet]="fabAddVm"></ng-container>
  </ng-container>
</ng-template>

<ng-template #noVms>
  <div class="no-vms-message-container">
    <mat-card class="no-vms-card">
      <span>Still no virtual machine has been created</span>
    </mat-card>
    <ng-container *ngIf="!authService.isProfessor() && isVmCreatable" [ngTemplateOutlet]="fabAddVm"></ng-container>
  </div>
</ng-template>

<ng-template #noVmModel>
  <div class="no-vm-model-message-container">
    <mat-card class="no-vm-model-card" *ngIf="!authService.isProfessor()">
      <span>There is no vm model for this course yet</span>
    </mat-card>
  </div>
  <span *ngIf="authService.isProfessor()" class="no-vm-model-message-professor-side">
    There is no vm model for this course yet
  </span>
</ng-template>

<ng-template #fabAddVm>
  <div class="add-btn-container">
    <button class="icon-btn add-btn" (click)="openVmSettingsDialog()">
      <div class="add-icon"></div>
      <div class="btn-txt"><strong>CREATE</strong></div>
    </button>
  </div>
</ng-template>
