/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-sidenav-container{height:100%}
mat-icon{padding-right: 12px;}
mat-icon:hover {cursor: pointer;}

.container {
  margin-top: 2.5em;
}
