/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-sidenav-container{height:100%}
mat-icon{padding-right: 12px;}
mat-icon:hover {cursor: pointer;}

.container {
  margin-top: 2.5em;
}

.snackMessageInfo {background-color: #b8b6b6; color: #203988;}
.snackMessageSuccess {background-color: #54ba54; color: white;}
.snackMessageWarning {background-color: #d6a440; color: white;}
.snackMessageError {background-color: #cb4747; color: white;}

.tab-section { margin-bottom: 1.5em;}

.tab-subtitle { display: flex; align-items: center;}
