<div class="dialog-container">
  <h2 mat-dialog-title>New Version</h2>
  <div>
    <form>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput name="title" [formControl]="titleControl" [maxLength]="255">
        <mat-error>The title is <b>required</b></mat-error>
      </mat-form-field>
    </form>
    <div class="preview-container" *ngIf="currentFile">
      <img [src]="currentFileUrl">
      <mat-progress-bar mode="determinate"
                        [color]="loading ? 'primary' : null"
                        [value]="loadingProgress.loaded"
                        [bufferValue]="loadingProgress.total">
      </mat-progress-bar>
    </div>
    <div *ngIf="loading">

    </div>
    <div class="buttons-container">
      <mat-dialog-actions>
        <input hidden type="file" accept="image/*" #fileUpload (change)="checkAndShowPreview(fileUpload)">
        <button mat-raised-button (click)="close()">CLOSE</button>
        <div>
          <button mat-raised-button  type="button" [color]="currentFile ? 'accent' : 'primary'"
                  (click)="fileUpload.click()">{{currentFile ? 'CHANGE' : 'UPLOAD'}}</button>
          <mat-card-subtitle [class.warning-label]="sizeExceeded">(Max size {{MAX_FILE_SIZE}}MB)</mat-card-subtitle>
        </div>
        <button mat-raised-button color="primary" *ngIf="currentFile" (click)="confirm()">CONFIRM</button>
      </mat-dialog-actions>
    </div>
  </div>
</div>
