.dialog-container {
  text-align: center;
  min-width: 22vw;
}

form {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  place-content: flex-end;
  margin: 0 0 0;
  padding: 0 .5em .5em;
}

mat-dialog-actions {
  align-items: baseline;
  padding: 16px 0 8px;
}

.buttons-container button {
  margin-left: 1.3em;
  width: 100px;
}

.buttons-container mat-card-subtitle {
  margin-left: 1.3em;
  margin-top: .5em;
}

.warning-label {
  color: #cb4747;
  font-weight: 500;
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

h2 {
  text-align: left;
  margin-bottom: 26px;
}

.preview-container {
  margin: 2em 0 .5em;
}

img {
  max-width: 100%;
  max-height: 50vh;
}

@keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-3px, 0, 0); }
  40%, 60% { transform: translate3d(3px, 0, 0); }
}
