.dialog-container {
  max-width: fit-content;
}

.messages-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.buttons-container {
  display: flex;
  place-content: center;
  margin-top: 1em;
  gap: .5em 1.5em;
  padding: .5em;
}

.buttons-container button {
  width: 110px;
}
