.dialog-container {
  max-width: fit-content;
}

.messages-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.buttons-container {
  display: flex;
  place-content: center;
  margin: 1em 0 0;
  padding: .5em;
}

.buttons-container button {
  margin: 0 1.5em;
}
