<button mat-icon-button class="close-button" (click)="close()">
  <mat-icon class="close-icon">close</mat-icon>
</button>
<div class="dialog-container">
  <h2 mat-dialog-title>New Course</h2>
  <div>
    <div class="stepper-container">
      <mat-horizontal-stepper #stepper>
        <mat-step [stepControl]="basicForm">
          <div>
            <form [formGroup]="basicForm">
              <ng-template matStepLabel>Basic info</ng-template>
              <h2 class="step-header-inside-label">Insert basic info</h2>
              <div class="name-and-acronym-container">
                <mat-form-field>
                  <mat-label>Course name</mat-label>
                  <input matInput placeholder="Name" formControlName="name" required>
                  <mat-error *ngIf="basicForm.controls.name.hasError('required')">Course name is <b>required</b></mat-error>
              <mat-error *ngIf="basicForm.controls.name.hasError('maxlength')">Name has to be shorter than <b>50</b> chars</mat-error>
            </mat-form-field>
                <mat-form-field>
                  <mat-label>Acronym</mat-label>
                  <input matInput placeholder="Acronym" formControlName="acronym" required>
                  <mat-error *ngIf="basicForm.controls.acronym.hasError('required')">Course acronym is <b>required</b></mat-error>
                  <mat-error *ngIf="basicForm.controls.acronym.hasError('maxlength')">Acronym must be <b>3</b> chars max</mat-error>
                </mat-form-field>
              </div>
              <div class="team-size-settings-div">
                <mat-form-field appearance="legacy">
                  <mat-label>Min team size</mat-label>
                  <input matInput type="number" placeholder="Min" formControlName="min" required>
                  <mat-error *ngIf="basicForm.controls.min.hasError('required')">Min team size is <b>required</b></mat-error>
                  <mat-error *ngIf="basicForm.controls.min.hasError('min')">Min value: 2</mat-error>
                  <mat-error *ngIf="basicForm.controls.min.hasError('max')">Max value: 10</mat-error>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                  <mat-label>Max team size</mat-label>
                  <input matInput type="number" placeholder="Max" formControlName="max" required>
                  <mat-error *ngIf="basicForm.controls.max.hasError('required')">Max team size is <b>required</b></mat-error>
                  <mat-error *ngIf="basicForm.controls.max.hasError('min')">Min value: 2</mat-error>
                  <mat-error *ngIf="basicForm.controls.max.hasError('max')">Max value: 10</mat-error>
                  <mat-error *ngIf="basicForm.controls.max.hasError('minLowerThanMax')">Max size has be <b>higher</b> than min size</mat-error>
                </mat-form-field>
              </div>
            </form>
          </div>
        </mat-step>
        <mat-step>
          <form>
            <ng-template matStepLabel>Description</ng-template>
            <h2 class="step-header-inside-label">Enter a description</h2>
            <mat-form-field>
              <mat-label>Description</mat-label>
              <textarea matInput
                        rows="13"
                        [maxLength]="MAX_CONTENT_LENGTH"
                        [formControl]="descriptionControl"
                        required></textarea>
            </mat-form-field>
          </form>
        </mat-step>
        <mat-step>
          <form>
            <ng-template matStepLabel>Prerequisites</ng-template>
            <h2 class="step-header-inside-label">Enter prerequisites</h2>
            <mat-form-field>
              <mat-label>Prerequisites</mat-label>
              <textarea matInput
                        rows="13"
                        [maxLength]="MAX_CONTENT_LENGTH"
                        [formControl]="prerequisitesControl"
                        required></textarea>
            </mat-form-field>
          </form>
        </mat-step>
        <mat-step>
          <form>
            <ng-template matStepLabel>Topics</ng-template>
            <h2 class="step-header-inside-label">Enter some topics</h2>
            <mat-form-field>
              <mat-label>Topics</mat-label>
              <textarea matInput
                        rows="13"
                        [maxLength]="MAX_CONTENT_LENGTH"
                        [formControl]="topicsControl"
                        required></textarea>
            </mat-form-field>
          </form>
        </mat-step>
        <mat-step>
          <div>
            <ng-template matStepLabel>Summary</ng-template>
            <ng-template [ngIf]="allFormsAreValid()" [ngIfElse]="formError">
              <div class="summary-info-div">
              <div class="summary-info-col">
                <h4>Course name:</h4>
                <mat-card-subtitle>{{basicForm.controls.name.value}}</mat-card-subtitle>
              </div>
              <div class="summary-info-col">
                <h4>Acronym:</h4>
                <mat-card-subtitle>{{basicForm.controls.acronym.value}}</mat-card-subtitle>
              </div>
              <div class="summary-info-col">
                <h4>Min team size:</h4>
                <mat-card-subtitle>{{basicForm.controls.min.value}}</mat-card-subtitle>
              </div>
              <div class="summary-info-col">
                <h4>Max team size:</h4>
                <mat-card-subtitle>{{basicForm.controls.max.value}}</mat-card-subtitle>
              </div>
            </div>
            <div class="summary-professor-question">
              <p>Do you want to assign other professors to this course?</p>
              <mat-checkbox #otherProfCheck></mat-checkbox>
            </div>
            <div *ngIf="otherProfCheck.checked" class="summary-professor-div">
              <div class="summary-professor-selection-div">
                <mat-form-field>
                  <mat-label>Add professor</mat-label>
                  <input matInput type="text" placeholder="Professor name"
                         #addProfessorInput [matAutocomplete]="ids">
                </mat-form-field>
                <mat-autocomplete #ids="matAutocomplete"
                                  [displayWith]="displayProfessor"
                                  (optionSelected)="setCurrentSelectedOption($event)">
                  <mat-option *ngFor="let professor of filteredProfessors"
                              [value]="professor">{{professor.surname}} {{professor.name}} ({{professor.id}})</mat-option>
                </mat-autocomplete>
                <button mat-raised-button color="accent" #addButton
                        [disabled]="!currentSelectedOption ||
                                    selectedProfessors.includes(currentSelectedOption) ||
                                    selectedProfessors.length > 1"
                        (click)="addProfessor(currentSelectedOption)">ADD
                </button>
              </div>
              <div class="summary-professor-list-div">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title class="professor-list-title">Professors assigned</mat-card-title>
                  </mat-card-header>
                  <mat-divider></mat-divider>
                  <mat-list>
                    <mat-list-item *ngIf="mySelf" >
                      <img matListAvatar [src]="mySelf.photo">
                      <div class="professor-info">
                        <h3 matLine class="professor-label">{{mySelf.name}} {{mySelf.surname}} (You)</h3>
                        <mat-card-subtitle><em>{{mySelf.id}}</em></mat-card-subtitle>
                      </div>
                    </mat-list-item>
                    <mat-list-item *ngFor="let professor of selectedProfessors; let i = index">
                      <img matListAvatar [src]="professor.photo">
                      <div class="professor-info">
                        <h3 matLine class="professor-label">{{professor.name}} {{professor.surname}}</h3>
                        <mat-card-subtitle><em>{{professor.id}}</em></mat-card-subtitle>
                      </div>
                      <mat-icon (click)="removeProfessor(i)">cancel</mat-icon>
                    </mat-list-item>
                  </mat-list>
                </mat-card>
              </div>
            </div>
            </ng-template>
            <ng-template #formError>
              <mat-card-subtitle class="form-final-error-message">Impossible to create a new course:</mat-card-subtitle><br>
              <p>One or more fields on previous steps have invalid or missing value</p>
              <p>Check if you forgot to provide some info.</p>
            </ng-template>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
    <div class="buttons-container">
      <mat-dialog-actions>
        <button mat-raised-button *ngIf="stepper.selectedIndex > 0" (click)="stepper.previous()">PREVIOUS</button>
        <button mat-raised-button *ngIf="stepper.selectedIndex < stepper.steps?.length-1" color="primary"
                (click)="stepper.next()">NEXT</button>
        <button mat-raised-button *ngIf="stepper.selectedIndex === stepper.steps?.length-1" color="primary"
                [disabled]="!allFormsAreValid()"
                (click)="onCreate()">CREATE</button>
      </mat-dialog-actions>
    </div>
  </div>
</div>
