.dialog-container {
  flex-flow: column nowrap;
  height: 80vh;
  max-height: 550px;
  width: 75vw;
  max-width: 900px;
}

.stepper-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

form {
  height: 85%;
}

mat-form-field {
  width: 100%;
}

textarea {
  resize: none;
}

.name-and-acronym-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.name-and-acronym-container > :last-child {
  width: 20%;
}

.team-size-settings-div {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.buttons-container {
  display: flex;
  place-content: flex-end;
  margin: 0 0 0;
  padding: 0 .5em .5em;
}

.buttons-container button {
  margin: 0 0 0 1.3em;
  width: 100px;
}

.step-header-inside-label {
  font-weight: 400;
}

.form-final-error-message {
  margin-top: 2em;
  font-size: x-large;
}

mat-dialog-container {
  overflow: hidden!important;
}

.close-button {
  float: right;
  top:-25px;
  right:-24px;
}

::ng-deep .close-button .mat-button-ripple {
  left: -14px!important;
  border-radius: unset!important;
}

::ng-deep .mat-horizontal-content-container{
  height: 22em!important;
}
