<div class="dialog-container">
  <h2 mat-dialog-title>{{version.title}}</h2>
  <div>
    <img mat-card-image [src]="version.content" class="version-preview-img" alt="version_content">
    <form [formGroup]="form">
      <div class="grade-container">
        <mat-label class="label-grade">Grade:</mat-label>
        <mat-form-field class="form-field-grade" appearance="legacy">
          <div class="grade-suffix">
            <input #grade type="textbox" class="form-control" matInput name="grade" formControlName="grade" appGradeNumber>
          </div>
        </mat-form-field>
        <mat-label class="label-grade-example">(ex. 28.5)</mat-label>
      </div>
      <mat-form-field class="form-field-comment" appearance="outline">
      <textarea matInput
                rows="3" cols="40"
                placeholder="Add a comment..."
                formControlName="comment">
      </textarea>
      </mat-form-field>
    </form>
    <div class="buttons-container">
      <mat-dialog-actions>
        <button mat-raised-button (click)="close()">CLOSE</button>
        <button mat-raised-button color="primary" (click)="confirm()">CONFIRM</button>
      </mat-dialog-actions>
    </div>
  </div>
</div>
