<div class="form-container">
  <ng-template [ngIf]="!loading" [ngIfElse]="loadingBlock">
    <ng-template [ngIf]="!requestComplete" [ngIfElse]="completeBlock">
      <h2>Signup</h2>
      <form [formGroup]="signupForm">
        <!-- Email -->
        <mat-form-field appearance="legacy">
          <mat-label>Email</mat-label>
          <input matInput [type]="'email'" formControlName="email">
          <mat-error *ngIf="signupForm.controls.email.hasError('required')">
            The field email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="signupForm.controls.email.hasError('email')">
            Insert a valid email
          </mat-error>
          <mat-error *ngIf="!signupForm.controls.email.hasError('email') &&
                        signupForm.controls.email.hasError('pattern')">
            The field <b>must</b> contain a valid PoliTo mail
          </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field appearance="legacy">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix type="button" [tabIndex]="-1" (click)="hidePass = !hidePass">
            <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="signupForm.controls.password.hasError('pattern')">
            Password <strong>must</strong> contains at least 8 characters including an uppercase letter, a number and a special character (.@$!%*?&)
          </mat-error>
        </mat-form-field>

        <!-- Repeat password -->
        <mat-form-field appearance="legacy">
          <mat-label>Repeat password</mat-label>
          <input matInput [type]="hideRepeatPass ? 'password' : 'text'" formControlName="repeatPassword">
          <button mat-icon-button matSuffix type="button" [tabIndex]="-1" (click)="hideRepeatPass = !hideRepeatPass">
            <mat-icon>{{hideRepeatPass ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="signupForm.controls.repeatPassword.hasError('mustMatch')">
            Passwords inserted <b>must</b> match
          </mat-error>
        </mat-form-field>

        <div *ngIf="signupError" class="error-advice">
          <span>An error occurred.<br>You cannot signup with these credentials</span>
        </div>
        <div class="buttons-div">
          <button mat-raised-button type="button" (click)="dialogRef.close(false)">
            CANCEL
          </button>
          <button mat-raised-button type="submit" color="primary" (click)="onSubmit()">
            SIGNUP
          </button>
        </div>
      </form>
    </ng-template>
  </ng-template>
</div>

<ng-template #completeBlock>
  <div class="request-sent-template">
    <h2>Congrats!</h2>
    <p>An email was sent to your PoliTo mail address</p>
    <p>Click on the link in the mail to confirm your registration</p>
    <button mat-raised-button color="primary" (click)="close(true)">OK</button>
  </div>
</ng-template>

<ng-template  #loadingBlock>
  <div class="loader-image-container">
    <ng-container>
      <img src="/assets/icons/vm_loader.gif">
    </ng-container>
  </div>
</ng-template>
