<div class="dialog-container">
  <h2 mat-dialog-title>{{title}}</h2>
  <div>
    <img mat-card-image src="https://videohive.img.customer.envatousercontent.com/files/261073186/code_2_img.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=c268466cffeccb3cae326841014d38fb" alt="version_content">
    <!-- TODO add correct image later: <div>Content: {{content}}</div> -->
    <div class="buttons-container">
      <mat-dialog-actions>
        <button mat-dialog-close class="mat-raised-button">CLOSE</button>
        <button class="mat-raised-button mat-primary">REVIEW</button>
      </mat-dialog-actions>
    </div>
  </div>
</div>
