.dialog-container {
  text-align: center;
  min-width: 42vw;
  max-height: 90vh;
}

.colors-container {
  margin: 1em 0;
  background-color: #efefef;
  border-radius: 2em;
}

::ng-deep .circle-picker {
  margin: 0 !important;
  padding: .5em 0;
  align-items: center;
  justify-content: space-evenly;
}

::ng-deep .circle-swatch {
  margin: 0 !important;
}

.image-container {
  position: relative;
}

.image-container-view img:first-child {
  width: 100%;
}

.image-container-view img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.image-container-review img {
  width: 100%;
}

.image-container app-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: url("src/assets/other/pen_cursor_filled_32.png"), auto;
}

.checkbox-container {
  font-style: italic;
  font-weight: lighter;
  text-align: right;
  padding-top: .4em;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
}

.buttons-container button {
  padding: 0 1em;
  margin-right: 1.3em;
  width: max-content;
}

.buttons-container button:last-child {
  margin-right: unset;
}

.buttons-container mat-card-subtitle {
  color: red;
  margin: 0 1em;
}

h2 {
  text-align: left;
  margin-bottom: 26px;
}
