<form [formGroup]="vmModelFormGroup" (ngSubmit)="checkForm()">
  <mat-card-title>
    Configure vm model settings
  </mat-card-title>
  <mat-divider></mat-divider>
  <div class="vm-model-form-container">
    <div class="vm-model-form-column">
      <h4>Basic info</h4>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error>The name is <b>required</b></mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Operating system</mat-label>
        <mat-select formControlName="os">
          <mat-option *ngFor="let entry of data.osMap | keyvalue" [value]="entry.key">{{entry.value}}</mat-option>
        </mat-select>
        <mat-error>You must select a valid OS</mat-error>
      </mat-form-field>
      <mat-card class="operating-system-preview-card">
        <mat-card-content>
          <img mat-card-image [src]="getOsImagePreview(this.vmModelFormGroup.get('os').value)">
        </mat-card-content>
      </mat-card>
    </div>
    <div class="vm-model-form-column">
      <h4>Max resources per team</h4>
      <ng-container>
        <mat-card-subtitle>Max CPU - {{cpuSlider.value}} cores</mat-card-subtitle>
        <mat-slider formControlName="maxCpu" #cpuSlider step="2" min="0" max="32"></mat-slider>
        <div class="custom-slider-error-container">
          <h5 class="custom-slider-error-message"
              *ngIf="formIsInvalid && vmModelFormGroup.get('maxCpu').hasError('min')">This value cannot be <b>0</b></h5>
        </div>
      </ng-container>
      <ng-container>
        <mat-card-subtitle>Max RAM - {{ramSlider.value}} GB</mat-card-subtitle>
        <mat-slider formControlName="maxRam" #ramSlider step="8" min="0" max="64"></mat-slider>
        <div class="custom-slider-error-container">
          <h5 class="custom-slider-error-message"
              *ngIf="formIsInvalid && vmModelFormGroup.get('maxRam').hasError('min')">This value cannot be <b>0</b></h5>
        </div>
      </ng-container>
      <ng-container>
        <mat-card-subtitle>Max Disk - {{utility.calcDiskLabel(diskSlider.value)}}</mat-card-subtitle>
        <mat-slider formControlName="maxDisk" #diskSlider step="512" min="0" max="4096"></mat-slider>
        <div class="custom-slider-error-container">
          <h5 class="custom-slider-error-message"
              *ngIf="formIsInvalid && vmModelFormGroup.get('maxDisk').hasError('min')">This value cannot be <b>0</b></h5>
        </div>
      </ng-container>
    </div>
    <div class="vm-model-form-column">
      <h4>Limits on vms number per team</h4>
      <ng-container>
        <mat-card-subtitle>Max vms - {{totVmsSlider.value}}</mat-card-subtitle>
        <mat-slider formControlName="maxNumVms" #totVmsSlider step="1" min="0" max="10"
                    (valueChange)="activeVmsSlider.value =
                      totVmsSlider.value < activeVmsSlider.value ?
                      totVmsSlider.value : activeVmsSlider.value"></mat-slider>
        <div class="custom-slider-error-container">
          <h5 class="custom-slider-error-message"
              *ngIf="formIsInvalid && vmModelFormGroup.get('maxNumVms').hasError('min')">This value cannot be <b>0</b></h5>
        </div>
      </ng-container>
      <ng-container>
        <mat-card-subtitle>Max active vms - {{activeVmsSlider.value}}</mat-card-subtitle>
        <mat-slider formControlName="maxActiveVms" #activeVmsSlider step="1" min="0" [max]="totVmsSlider.value"></mat-slider>
        <div class="custom-slider-error-container">
          <h5 class="custom-slider-error-message"
              *ngIf="formIsInvalid && vmModelFormGroup.get('maxActiveVms').hasError('min')">This value cannot be <b>0</b></h5>
        </div>
      </ng-container>
    </div>
  </div>
  <mat-divider style="margin-top: 1em;"></mat-divider>
  <div class="vm-model-buttons-div">
    <button mat-raised-button mat-dialog-close color="warn">CANCEL</button>
    <ng-template [ngIf]="data.modelExists" [ngIfElse]="createBtnTemplate">
      <button mat-raised-button color="primary" [disabled]="formUnchanged">CONFIRM</button>
    </ng-template>
    <ng-template #createBtnTemplate>
      <button mat-raised-button color="primary">CREATE</button>
    </ng-template>
  </div>
</form>
