.vm-form-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 3em;
  margin: 1em 0;
}

.vm-form-column {
  min-width: 300px;
  flex: 1 1;
}

.vm-form-column mat-form-field {
  width: 100%;
}

mat-slider {
  width: 100%;
  margin-bottom: .2em;
}

h4 {
  margin-bottom: 2em;
}

mat-card-title {
  margin-bottom: 0.5em;
}

mat-card-subtitle {
  margin-bottom: 0;
}

.vm-model-info-container {
  display: flex;
  flex: 1 1 30%;
  flex-direction: column;
}

.operating-system-preview-card {
  margin: 2em 0;
  padding: .5em 1.5em;
  min-width: auto;
  max-width: 250px;
  align-self: center;
  text-align: center;
}

.custom-slider-error-container {
  height: 1.2em;
  margin-bottom: .5em;
  margin-top: -1em;
}

.custom-slider-error-message {
  margin: 0;
  font-weight: initial;
  color: #f44336;
  font-size: 75%;
}

.vm-buttons-div {
  text-align: right;
}

.vm-buttons-div button {
  margin: 1em 0 0 1em;
}
